.todo-container {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 255, 255, 0.5);
  width: 40rem;
  padding-block: 1rem;
  padding-inline: 2rem;
  border-radius: 0.5rem;
  border: 2px solid black;
}

.done {
  text-decoration: line-through;
}
